<div id="text-data" class="well well-lg" style="margin:20px 20% 0 20%" >
    <ul class="list-group">
        <li class="list-group-item"><span class="badge"><%= @chat_count%></span> Total Messages Sent</li>
        <%  @media_added ||= 0 %>
        <li class="list-group-item "><span class="badge" id="media-added"><%= @media_added %></span> Total Media Sent</li> 
     
        <li class="list-group-item"><span class="badge"><%= @group_left %></span> Total Number of times left group</li> 
        <li class="list-group-item"><span class="badge"><%= @group_pic_changed %></span> Total Number of times changed group pic</li> 
        <li class="list-group-item"><span class="badge"><%= @group_name_changed %></span> Total Number of times changed group name</li> 
        <% @members_added ||= 0 %>
        <li class="list-group-item "><span class="badge" id="members-added"><%= @members_added %></span> Total Number of members added</li>   
    </ul>
</div>