<script>
    $(document).ready(function(){
        $('#submit').click(function(){
            $('#whatsappdata').css("display", "inline");
            $.ajax({
                url: "<%= update_message_list_path %>",
                data: {
                    name = $('#list_of_members:selected').text();
                    from_dt = $('#from_date').text();
                    to_dt = $('#to_date').text();
                },
                dataType="script"
            });
            
        });
    });
</script>

<div id="container">
    <h1 class="text-primary text-center">Choose whom you want to see</h1>
 
    <br/>
    <br/>

    <div class="well well-lg" style="margin: 0 20% 0 20%;">
        <p class="text-primary">
            Welcome friend, we are now a step away from getting the details.
            You can select a particular member of the group or all, based on your selection
            graphs will be generated
        </p>
    </div>
    
    <div class="well well-lg" style="margin:20px 20% 0 20%">
        <div>
            <%= form_tag '/main_page/update_message_list',remote: true, class: "form-inline",role:"form",method: :get do %>
                <div class="form-group" >
                    <%= select_tag "people",options_for_select(@member_name.push("All")),class:"form-control" %>
                </div>
                <div class="form-group" >
                    <label for="from-dt">From Date:</label>
                    <%= date_field_tag 'from-date',id:'from_date',class:"form-control" %>
                </div>
                <div class="form-group" >
                    <label for="to-dt">To Date:</label>
                    <%= date_field_tag 'to-date', id:'to_date',class:"form-control" %>
                </div>
                <%= submit_tag 'Get Me Data',  class:"btn btn-primary",id:"submit",style:"margin-top:20px;margin-left:40%;" %>
            <%end%>
        <div>
    </div>
    

    <div id="whatsappdata" style="display:none;margin:20px 20% 0 20%;">
        <div id="text-data" >
            <ul class="list-group">
                <li class="list-group-item"><span class="badge"><%= @regular_chat.count %></span> Total Messages Sent</li>
                <%  @media_added ||= 0 %>
                <li class="list-group-item "><span class="badge" id="media-added"><%= @media_added %></span> Total Media Sent</li> 
             
                <li class="list-group-item"><span class="badge"><%= @regular_chat.count %></span> Total Number of times left group</li> 
                <li class="list-group-item"><span class="badge"><%= @regular_chat.count %></span> Total Number of times changed group pic</li> 
                <li class="list-group-item"><span class="badge"><%= @regular_chat.count %></span> Total Number of times changed group name</li> 
                <% @members_added ||= 0 %>
                <li class="list-group-item "><span class="badge" id="members-added"><%= @members_added %></span> Total Number of members added</li>
                
            </ul>
        </div>

    </div>

    <!--<div id="message-by-each" style="display:none;margin-top:20px;"></div>-->
     <div id="rendering_partial"></div>

</div>

